<section class="pricing py-5">
  <div class="container">
    <div class="row">
      <!-- Free Tier -->

      <div class="col-lg-4" *ngFor="let z of pacplanes">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">{{ z.name | translate }}</h5>
            <h6 class="card-price text-center">{{ z.value | currency }}</h6>
            <hr />
            <ul class="fa-ul">
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>{{ z.descuento }} viajes incluidos*
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>{{ z.description }}
              </li>
              <li class="text-muted">
                <span class="fa-li"><i class="fas fa-times"></i></span>*sobre el precio base del Servicio Utilizado
              </li>
              <!-- <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated Phone Support</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Free Subdomain</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li> -->
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase" translate>Buy</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
