<div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
  <div class="widget">
    <h4 class="widget-title">Orden Generada</h4>
    <div class="summary-block">
      <div class="summary-content">
        <div class="summary-head"><h5 class="summary-title">Personal</h5></div>
        <div class="summary-price">
          <p class="summary-text">$$$$</p>
          <span class="summary-small-text pull-right">1 month</span>
        </div>
      </div>
    </div>
    <div class="summary-block">
      <div class="summary-content">
        <div class="summary-head"><h5 class="summary-title">Website Security Essential</h5></div>
        <div class="summary-price">
          <p class="summary-text">$$$$ / mo</p>
          <span class="summary-small-text pull-right">1 month</span>
        </div>
      </div>
    </div>
    <div class="summary-block">
      <div class="summary-content">
        <div class="summary-head"><h5 class="summary-title">Distancia Recorrida:</h5></div>
        <div class="summary-price">
          <p class="summary-text">{{ distancia }}</p>
          <span class="summary-small-text pull-right">1 month</span>
        </div>
      </div>
    </div>
  </div>
</div>
