<div class="container">
  <div class="card mt-2">
    <!-- <div class="card-header d-flex align-items-center">
    <h5 class="card-title"><span translate>Información General</span></h5>
  </div> -->
    <!-- </div> -->
    <div class="card-body text-center">
      <h5>
        <i class="fas fa-exclamation-triangle"></i> Se presento un inconveniente en <b>Recibes</b>.intente mas tarde
        utilizar nuestros servicios
      </h5>
      <button class="btn btn-primary bold" (click)="return()"><span translate>Ok</span></button>
    </div>
  </div>
</div>
