<div class="row">
  <div class="col-md-2 mb-1 text-center">
    {{ createDate | date: 'yyyy/MM/dd':locale:locale }} <br />{{ createDate | date: 'hh:mm:ss a':locale:locale }}
  </div>
  <div class="col-md-10 mb-1">
    <div class="card">
      <div class="card-header bold">
        <div class="row">
          <div class="col-md-10">{{ _title }}</div>
          <div class="col-md-2 text-right">
            <ng-container *ngIf="Running; then r; else f"></ng-container>
            <ng-template #r><i class="fas fa-hourglass fa-spin"></i></ng-template>
            <ng-template #f><i class="fas fa-check"></i></ng-template>
          </div>
        </div>
      </div>
      <ng-container *ngIf="visualDetail">
        <div class="card-body">
          <div class="row">
            <div class="col-md-9 mb-1">
              <span class="card-text bold">Instrucciones:</span>
              <span class="card-text">{{ _instructions }}</span>
              <br />
              <span class="card-text bold">Estado:</span>
              <span class="card-text">{{ _status }}</span>
            </div>

            <div class="col-md-3 mb-1 d-flex justify-content-end">
              <div class="row-group">
                <button
                  type="button"
                  class="btn btn-primary"
                  [hidden]="_imageact"
                  (click)="viewimage()"
                  placement="top"
                  [ngbTooltip]="'View image' | translate"
                >
                  <i class="fas fa-image"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  [hidden]="_imageact"
                  (click)="downloadImage('jpg', true)"
                  placement="top"
                  [ngbTooltip]="'Download image' | translate"
                >
                  <i class="fas fa-file-download"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
