<div class="row">
  <div class="col-md-2 mb-1 text-center">
    {{ createDate | date: 'yyyy/MM/dd':locale:locale }} <br />{{ createDate | date: 'hh:mm:ss a':locale:locale }}
  </div>
  <div class="col-md-10 mb-1">
    <div class="card">
      <div class="card-header bold">
        <div class="row">
          <div class="col-md-10">Creación Actividad</div>
          <div class="col-md-2 text-right"><i class="fas fa-check"></i></div>
        </div>
      </div>
      <div class="card-body mb-0">
        <div *ngFor="let item of _addressInfoList">
          <ng-container *ngIf="item.id == '1' && item.type == 'dest'; then idayvuelta; else addresi"> </ng-container>
          <ng-template #idayvuelta>
            <div>
              <span class="bold" translate>Regreso al punto Inicial</span>
            </div>
          </ng-template>
          <ng-template #addresi>
            <span class="card-text bold">{{ item.id }}:</span>
            <span class="card-text"
              >{{ formatAddress(item.address, item.adnumber) }} {{ item.details }}
              <span class="bold">{{ fidayvuelta(item.id, item.type) }}</span>
            </span>
          </ng-template>
          <!-- <span class="card-text bold">{{ item.id }}:</span>
          <span class="card-text"
            >{{ formatAddress(item.address, item.adnumber) }} {{ item.details }}
            <span class="bold">{{ fidayvuelta(item.id, item.type) }}</span>
          </span>
        </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
