<div class="container">
  <div class="card col-md-12 mt-3 mx-auto">
    <div class="card-body">
      <h2 class="card-title text-center">
        <b><span translate>Track packages</span></b>
      </h2>
      <div class="col-md-12 mb-3 text-center">
        <h4>
          <b>{{ username }}</b>
          <span translate>this is the current status of the packages that you have sent with us</span>
        </h4>
      </div>
      <app-loader [isLoading]="isLoading" message="{{ msgCargue }}" class="text-center"></app-loader>
      <div [hidden]="isLoading">
        <div class="d-none d-md-block"><app-statuspackagelist [packStatusList]="psList"></app-statuspackagelist></div>
        <div class="d-md-none d-lg-none d-xl-none">
          <app-statuspackagecard [packStatusList]="psList"></app-statuspackagecard>
        </div>
      </div>
    </div>
  </div>
</div>
