@import "src/theme/theme-variables";
.row {
  margin: auto;
  border-radius: 10px 10px 10px 10px;
}
.bg-1 {
  color: $black;
  background-color: $yellow;
  border: #ced4da 1px solid;
  text-align: center;
  border-radius: 10px 0px 0px 10px;

  // padding: 10px;
}

.bg-2 {
  border: #ced4da 1px solid;
  border-radius: 0px 10px 10px 0px;
  line-height: 2px;
  // padding: 10px;
}

.input {
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  // padding-block-start: 1px;
  // padding-inline-end: 1px;
}
.pointer {
  cursor: pointer;
}

// .ng-invalid.ng-touched:not(form) {
//   border-left: 5px solid theme-color("danger");
//   border-top: 1px solid theme-color("danger");
//   border-bottom: 1px solid theme-color("danger");
//   border-right: 1px solid theme-color("danger");
// }

// .ng-valid[required],
// .ng-valid.required {
//   border-left: 5px solid #42a948; /* green */
//   border-top: 1px solid #42a948;
//   border-bottom: 1px solid #42a948;
//   border-right: 1px solid #42a948;
// }

// .ng-valid{
//   border-left: 5px solid #42a948; /* green */
//   border-top: 1px solid #42a948;
//   border-bottom: 1px solid #42a948;
//   border-right: 1px solid #42a948;
// }
// input:invalid:not(.ng-pristine) {
//   border-left: 5px solid #a94442; /* red */
// }
// input:valid:not(.ng-pristine) {
//   border-left: 5px solid #42A948; /* green */
// }
